  body{



    .main {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
    }


    .form {
      background-color: rgb(222, 222, 222);
      width: 199px;
      border-radius: 8px;
    }
   
    .h2 {
      font-size: 10px;

    }

    .no-border {
      border: none;
      outline: none; /* убирает обводку при фокусе */
      background-color: transparent; /* по желанию — убирает фон */
      font-size: 16px;
    }

    #padd {
      padding-right: 100px;
      
    }
  }




