  body{
    padding-left: 100px;
    
    .h1 {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .paragraph{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .inp.inpu{
      background-color: rgba(255, 255, 255, 0.726)
    }
    .inp{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: rgb(236, 232, 232);
      height: auto;
      width: 400px;
    }

    .h2 {
      color: rgba(0, 0, 0, 0.473);
      font-size: 9px;



        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }

    input {
    all: unset; /* Сбросить ВСЕ стили браузера */
    font-size: 16px;
    font-family: inherit;
    
  }





  }




